body {
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
}

input {
	font: "Trebuchet MS", sans-serif;
}
iframe {
	border:0px;
	overflow: hidden;
}
#main {
}
a img {
	border: none;
}

table {
	font: normal 100% "Trebuchet MS", sans-serif;
	width: 100%;
	border-collapse: collapse;
}

td,th {
	height: 30px;
	padding: 3px;
}

tr {
	border-bottom: 1px #fff solid;
}

tr.running {
	margin: 2px;
	background-color: #DDFFDD;
}

tr.starting {
	margin: 2px;
	background-color: #FFFFDD;
}

tr.stopped {
	margin: 2px;
	background-color: #FFDDDD;
}

tr.stopping {
	margin: 2px;
	background-color: #DDDDFF;
}

#refreshButton {
	cursor: pointer;
}

.button, .stopButton, .startButton, .viewLogButton, .infoButton {
	cursor: pointer;
	width: 16px;
}

ul#icons {
	margin: 0;
	padding: 0;
}

ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

#refreshing {
	width: 16px;
	height: 11px;
}

.refreshing-now {
	background-image: url("../images/refreshing.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

.demoHeaders {
	margin-top: 2em;
}

#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

ul#icons {
	margin: 0;
	padding: 0;
}

ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
#validXHTML {
	margin-top: 30px;
	float: right;
	display: none;
}
#validXHTML img {
	margin-left: 10px;
}